// app global css in Sass form
.q-toolbar
  max-width: 1200px
  margin: 0 auto
  padding-left: 16px
  padding-right: 16px
  @media (max-width: $breakpoint-xs)
    padding: 0px 0px

.content
  max-width: 1200px
  margin: 0 auto
  padding-left: 16px
  padding-right: 16px
  @media (max-width: $breakpoint-sm)
    padding:  40px 10px
  @media (max-width: $breakpoint-xs)
    padding: 0px 0px

.banner
  .q-tab-panels
    padding-left: 400px
    @media (max-width: $breakpoint-md)
      padding-left: 100px
    @media (max-width: $breakpoint-sm)
      padding-left: 50px
    @media (max-width: $breakpoint-xs)
      padding-left: 0px
      .q-img
        @media (max-width: $breakpoint-xs)
          width: 0px
  .q-tabs
    top: -48px
    left: 500px
    @media (max-width: $breakpoint-md)
      left: 300px
    @media (max-width: $breakpoint-sm)
      left: 250px
    @media (max-width: $breakpoint-xs)
      left: 50px

.d-bottom
  width: 500px
  height: 50px
  @media (max-width: $breakpoint-sm)
    width: 400px
  @media (max-width: $breakpoint-xs)
    width: 300px

.outline-blue
  outline: 1px solid blue

.outline-red
  outline: 1px solid red

@font-face
  font-family: "NanumBarunpen"
  src: local("NanumBarunpen"), url(/fonts/NanumBarunpenR.ttf) format("truetype")

  font-family: "NanumSquareRound"
  src: local("NanumSquareRound"), url(/fonts/NanumSquareRoundR.ttf) format("truetype")

  font-family: "NanumSquare_ac"
  src: local("NanumSquare_ac"), url(/fonts/"NanumSquare_acR.ttf") format("truetype")
