// app global css in Sass form
.q-toolbar
  max-width: 1200px
  margin: 0 auto
  padding-left: 16px
  padding-right: 16px

.content
  max-width: 1200px
  margin: 0 auto
  padding-left: 16px
  padding-right: 16px
  @media (min-width: $breakpoint-sm)
    padding:  40px 16px

.outline-blue
  outline: 1px solid blue

.outline-red
  outline: 1px solid red
